@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

.boardElements{
  width:280px;
  height:280px;
  margin:0 auto;
  display:grid;
  grid-template:repeat(3, 1fr) / repeat(3, 1fr);
  margin-top:50px;
  border: none;
  background-color: white;

}
.head{
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

hr{
  width: 200px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media only screen and (max-width: 600px) {
  .boardElements{
    width:275px;
    height:275px;
  }

}
